@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; /* Jarak scroll agar tidak tertutup header */
}

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] w-full bg-white/80 backdrop-blur-sm shadow-md;
}

.hamburger-line {
  @apply block h-[2px] w-[30px] my-2 bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply translate-y-2 rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -translate-y-2 -rotate-45;
}
